{% extends 'blog/base.html' %}
{% comment %} Ładowanie custom filtrów i znaczników {% endcomment %}
{% load blog_tags %}
{% block title %}Mój blog{% endblock title %}
{% block content %}
    <h1>Mój blog</h1>
    {% if tag %}
        <h2>Posty oznaczone tagiem "{{ tag.name }}"</h2>
    {% endif %}
    {% for post in posts %}
        <h2>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </h2>
        <p class="tags">
            Tagi:
            {% for tag in post.tags.all %}
                {% comment %} Linki dla poszczególnych tagów {% endcomment %}
                <a href="{% url 'blog:post_list_by_tag' tag.slug %}">
                    {{ tag.name }}
                </a>
                {% comment %} Fajna if'ka, oddziel przecinkami chyba że ostatni {% endcomment %}
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        <p class="date">Opublikowany {{ post.publish }} przez {{ post.author }}</p>
        {{ post.body|markdown|truncatewords_html:30 }} 
    {% endfor %}
    {% include "pagination.html" with page=posts %}
{% endblock content %}
