{% comment %} 
Załadowanie własnych znaczników z templatetags/blog_tags
{% endcomment %}
{% load blog_tags %}
{% comment %} 
Ładuje pliki statyczne, dzięki temu można potem używać znacznika static
{% endcomment %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static 'css/blog.css' %}" rel="stylesheet" />
    </head>
    <body>
        <div id="content">{% block content %} {% endblock %}</div>
        <div id="sidebar">
            <h2>Mój blog</h2>
            <p>To jest mój blog. Dotychczas opublikowałem {% total_posts %} postów.</p>

            <h3>Najnowsze posty</h3>
            {% comment %} 
            Przekazujemy tutaj count jako 3
            {% endcomment %}
            {% show_latest_posts 3 %}

            <h3>Najczęściej komentowane posty</h3>
            {% get_most_commented_posts as most_commented_posts %}
            <ul>
                {% for post in most_commented_posts %}
                    <li>
                        <a href="{{ post.get_absolute_url }}">
                            {{ post.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>
